$background-color-success: #43a047
$background-color-error: #d32f2f
$background-color-info: #0064b4
$background-color-warning: #ffa000

.xcg-alert-snackbar
  .xcg-alert-success
    background-color: $background-color-success

  .xcg-alert-error, .xcg-alert-failed
    background-color: $background-color-error

  .xcg-alert-info
    background-color: $background-color-info

  .xcg-alert-warning, .xcg-alert-wait
    background-color: $background-color-warning

  .xcg-icon
    font-size: 20px

  .xcg-icon-variant
    opacity: 0.9
    padding-right: 8px

  .xcg-message
    align-items: center
    display: flex
