.xcg-business-card
  .xcg-card
    box-shadow: none
    border-radius: 0

    .xcg-card-header
      .xcg-avatar
        width: 60px
        height: 60px

    .xcg-card-content
      .xcg-descriptions
        overflow: hidden
        max-height: 61px
        text-align: justify

    .xcg-card-action-area
      width: 100%

    .xcg-card-media-card-action-area
      height: 280px

      .xcg-card-media
        height: inherit

    .xcg-card-action
      display: block
      text-align: center

      .xcg-card-action-button
        margin: 0 3%
