$background-search: #ba000d

.xcg-business-cards
  .xcg-search
    bottom: 0
    position: fixed
    width: 100%
    background-color: $background-search

  .xcg-business-cards-window-scroll
    padding-bottom: 60px
