.xcg-detail-business-card
  padding-bottom: 56px

  .xcg-card
    box-shadow: none
    border-radius: 0

    .xcg-card-header
      .xcg-avatar
        width: 60px
        height: 60px

    .xcg-card-content
      .xcg-descriptions
        text-align: justify

      .xcg-count
        right: 16px
        position: absolute

    .xcg-card-action-area
      height: 280px
      width: 100%

      .xcg-card-media
        height: inherit

    .xcg-card-action
      display: block
      text-align: center

      .xcg-card-action-button
        margin: 0 3%

  .xcg-ui-info-business-card
    width: 100%

  .xcg-input-measurements3-business-card
    .xcg-layout
      .xcg-control
        padding-top: 100px

        .xcg-title-label
          display: none

    .xcg-alert-snackbar
      display: none

  .xcg-ui-list-commnet
    .xcg-container-not-data
      padding-top: 0

  .xcg-info-group
    display: block
