.xcg-input-image-user
  width: 100%

  .xcg-image
    height: 280px
    width: 100%

  .xcg-default-image-view
    .button-file
      display: none

    .xcg-upload-button
      height: 100%
      width: 100%
