.xcg-ui-comment
  .xcg-card
    box-shadow: none
    border-radius: 0

    .xcg-profile-user-group
      display: flex

      .xcg-profile-user-list-icon
        margin: 0 5px

      .xcg-profile-user-caption
        margin-left: auto

    .xcg-card-content
      padding-top: 0
      text-align: justify
