<!DOCTYPE html>
<html lang="{{language}}">

  <head>
    <!-- Recommended Minimum -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <!-- Info -->
    <title>{{title}}</title>
    <meta name='description' content="{{description}}" />
    <!-- Mobi META -->
    <meta name="format-detection" content="telephone=no" />
    <!-- Fav Icon -->
    <link href="/images/core/client/images/brand/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- Manifest -->
    <link rel="manifest" href="/manifest.json" />
    <!-- Humans -->
    <link rel="author" href="humans.txt" />
    <!-- Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:description" content="{{description}}">
    <meta property="og:locale" content="{{language}}">
    <!-- IOS -->
    <meta property="al:android:app_name" content="XCallgirl">
    <link rel="apple-touch-icon" href="/images/core/client/images/brand/launcher/icon_4x.png">
    <link rel="apple-touch-startup-image" href="/images/core/client/images/brand/launcher/icon_4x.png">
    <meta name="apple-mobile-web-app-title" content="{{title}}">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <!-- Android -->
    <meta property="al:ios:app_name" content="XCallgirl">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- QQ -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <!-- UC -->
    <meta name="screen-orientation" content="portrait">
    <meta name="full-screen" content="yes">
    <meta name="imagemode" content="force">
    <meta name="browsermode" content="application">
    <meta name="nightmode" content="disable">
    <meta name="wap-font-scale" content="no">
    <!-- App CSS Files -->
    <!-- inject:css -->
    <link rel='stylesheet' type='text/css' href='/lib/app-38d489fae8.css'/>
    <!-- endinject -->
  </head>

  <body>
    <div id="xcg">
      <div class="xcg-loading">
        <img class="xcg-icon" src="/images/core/client/images/brand/launcher/icon_2x.png" alt="xcallgirl_icon">
        <img class="xcg-logo" src="/images/core/client/images/brand/logo.png" alt="xcallgirl_logo">
      </div>
    </div>
    <script>
      window.__isDev__ = {{ isDev }};
    </script>
    <!-- App JavaScript Files -->
    <!-- inject:js -->
    <script type='text/javascript' src='/lib/app-7d5a473407.js'></script>
    <!-- endinject -->
  </body>

</html>
