.xcg-detail-user
  .xcg-top-alert-snackbar
    position: fixed
    width: 100%
    z-index: 1

  .xcg-card
    box-shadow: none
    border-radius: 0

    .xcg-card-header
      .xcg-avatar-group
        width: 150px
        height: 150px
        margin-left: auto
        margin-right: auto

        .xcg-avatar
          width: inherit
          height: inherit

      .xcg-list-item
        text-align: center

        .xcg-profile-user-group
          display: inline-flex

          .xcg-profile-user-title
            margin-bottom: auto
            margin-top: auto

          .xcg-profile-user-list-icon
            margin: 0 5px

        .xcg-roles-group
          margin-right: 42px

          .xcg-profile-user-icon
            position: absolute
            margin-left: 5px

    .xcg-card-action
      display: block
      text-align: center

      .xcg-card-action-button
        margin: 0 3%
