$background-color-error: #d32f2f
$background-color-info: #0064b4
$background-color-warning: #ffa000

.xcg-ui-info-deal-history
  width: 100%

  th, td
    padding: 8px

  th, td:last-child
    padding: 8px

  .xcg-linear-info
    div
      background-color: $background-color-info

  .xcg-linear-error
    div
      background-color: $background-color-error

  .xcg-linear-warning
    div
      background-color: $background-color-warning
