$background-copyrirht: #4b4f56
$background-or: #ccd0d5
$background-other-links: #7596c8
$color-success: #43a047
$color-error: #d32f2f
$color-info: #0064b4
$color-warning: #ffa000
$background-body: #1a1a1a

body
  margin: 0
  padding: 0
  background-color: $background-body

  //
  .xcg-space
    margin: 0 5px

  //
  .xcg-success
    color: $color-success

  .xcg-error
    color: $color-error

  .xcg-info
    color: $color-info

  .xcg-warning
    color: $color-warning

  //
  .xcg-loading
    text-align: center
    margin-top: 150px

    .xcg-logo
      width: 80%

  .xcg-header
    padding-bottom: 16px

  // .xcg-section

  .xcg-footer
    padding-top: 16px

    .xcg-copyrirht
      color: $background-copyrirht

  //
  .xcg-primary-btn
    padding-top: 16px

  //
  .xcg-btn
    padding-top: 8px

  //
  .xcg-or
    margin-left: 5%
    margin-right: 5%
    margin-top: 30px
    overflow: hidden

    .xcg-or-content
      color: $background-or
      position: relative

      &:before,
      &:after
        background-color: $background-or
        content: ''
        height: 1px
        position: absolute
        top: 50%
        width: 9999px

      &:before
        margin-right: 16px
        right: 100%

      &:after
        left: 100%
        margin-left: 16px

  //
  .xcg-other-links
    ul
      list-style: none
      padding: 0

      a
        text-decoration: none

        span
          color: $background-other-links
