.xcg-dialog
  .xcg-top-app-bar
    .xcg-close-button
      margin-left: auto

  .xcg-group-input
    padding: 80px 16px 0

  .xcg-botton-app-bar
    bottom: 0
    top: auto

    .xcg-btn-app-bar
      padding: 16px 0
