$nprogress-color: #ba000d

#nprogress
  pointer-events: none

  .bar
    background-color: $nprogress-color
    height: 2px
    left: 0
    position: fixed
    top: 0
    width: 100%
    z-index: 1301

  .peg
    right: 0
    width: 100px
    box-shadow: 0 0 10px $nprogress-color, 0 0 5px $nprogress-color
    display: block
    height: 100%
    opacity: 1
    position: absolute
    -webkit-transform: rotate(3deg) translate(0, -4px)
        -ms-transform: rotate(3deg) translate(0, -4px)
            transform: rotate(3deg) translate(0, -4px)

  .spinner
    display: block
    position: fixed
    z-index: 1301
    top: 15px
    right: 15px

  .spinner-icon
    height: 18px
    width: 18px
    border: solid 2px transparent
    border-left-color: $nprogress-color
    border-radius: 50%
    border-top-color: $nprogress-color
    box-sizing: border-box
    -webkit-animation: nprogress-spinner 400ms linear infinite
            animation: nprogress-spinner 400ms linear infinite

.nprogress-custom-parent
  overflow: hidden
  position: relative

  #nprogress
    .spinner,
    .bar
      position: absolute

@-webkit-keyframes nprogress-spinner
  0%
    -webkit-transform: rotate(0deg)
  100%
    -webkit-transform: rotate(360deg)

@keyframes nprogress-spinner
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)
