.xcg-signup-user
  margin-top: -56px

  .xcg-header
    padding: 0

    .xcg-logo
      text-align: center

      .xcg-image
        height: 50px

  .xcg-section
    .xcg-group-input
      padding: 0 24px

      .xcg-select-address
        padding: 0

    .xcg-auth
      padding: 0 16px
      text-align: center
