.xcg-signin-user
  margin-top: -56px

  .xcg-header
    .xcg-logo
      padding: 16px 40px 8px

      .xcg-image
        width: 100%

  .xcg-section
    .xcg-group-input
      padding: 0 24px

      .xcg-auth
        padding-top: 1px
        text-align: center
