$background-badge: #737373
$background-action: rgba(255, 255, 255, 1)

.xcg-chat
  .xcg-un-view
    background-color: $background-badge

  .xcg-actions
    button
      margin: 0 5px
      background-color: $background-action

  .xcg-profile-user-group
      display: flex

      .xcg-profile-user-list-icon
        margin: 0 5px
