.xcg-search-dialog-xcg-users-search
  .xcg-input-group
    .xcg-sub-input-group
      padding: 8px 0

.xcg-users-search
  .xcg-app-bar
    margin-top: 56px

    .xcg-form-sreach
      width: 90%
      display: flex

  .xcg-users
    padding-top: 56px
