$background-badge: #737373

.xcg-notification
  .xcg-mark
    background-color: $background-badge

  .xcg-list-item-avatar
    span
      top: 28px
      padding: 3px
      background-color: $background-badge
      z-index: auto

    .xcg-avatar
      width: 50px
      height: 50px
