.xcg-input-images-business-card
  .xcg-image-control
    .xcg-image
      height: 280px
      width: 100%

    .xcg-default-image-view
      .button-file
        display: none

      .xcg-upload-button
        padding: 0
        width: 100%

        .xcg-image
          opacity: 0.3

        .xcg-upload-label
          position: absolute

  .xcg-checkbox
    text-align: center
