.xcg-input-costs-business-card
  .xcg-group-input
    padding-top: 16px

    .xcg-alert-snackbar
      padding-top: 8px

    .xcg-input-cost
      margin: 8px 16px

    .xcg-group-input-rooms
      display: flex

    .xcg-group-input-services
      display: flex

    .xcg-btn
      text-align: center
