.xcg-input-measurements3-business-card
  width: 100%

  .xcg-layout
    display: flex

    .xcg-control
      width: 50%

      .xcg-title-label
        padding-top: 50px

      .xcg-group-input
        padding-left: 16px

        .xcg-breast-input
          padding-top: 70px

        .xcg-hips-input
          padding-top: 50px

        .xcg-waist-input
          padding-top: 50px
