$background-content: #737373

.xcg-ui-message
  .xcg-card
    box-shadow: none
    border-radius: 0

    .xcg-card-header
      padding: 0 0 0 16px

      .xcg-profile-user-group
        display: flex

        .xcg-profile-user-list-icon
          margin: 0 5px

      .xcg-profile-user-avatar
        .xcg-avatar
          height: 30px
          width: 30px

    .xcg-card-content
      margin: 8px
      padding: 8px
      text-align: justify
      border-radius: 15px
      background-color: $background-content
      display: inline-block
      max-width: 70%

  .rtl
    direction: rtl

    .xcg-card-header
      padding: 0 16px 0 0

      .xcg-profile-user-caption
        direction: ltr

    .xcg-card-content
      direction: ltr
