.xcg-setting-verify-user
  .xcg-panel-details
    display: block

  .xcg-account
    .xcg-alert-snackbar
      padding-top: 16px

  .xcg-numberphone
    .xcg-group-input
      width: 100%

      .xcg-input-verify-numberphone
        input
          text-align: center
